<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- -->
<mapper namespace="com.zhou.mapper.DepartmentMapper">
    <select id="getDepartmentsList" resultType="Department">
        select * from mybatis.department;
    </select>

    <select id="getDepartmentById" resultType="Department">
        select * from mybatis.department where id = #{id};
    </select>

    <insert id="addDepartment" parameterType="Department">
        insert into mybatis.Department(id, DepartmentName) VALUES (#{id},#{DepartmentName});
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update mybatis.department set DepartmentName=#{DepartmentName} where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.department where id = #{id};
    </delete>

</mapper>


