<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- -->
<mapper namespace="com.zhou.mapper.EmployeeMapper">
    <select id="getEmployeeList" resultType="Employee">
        select * from mybatis.employee;
    </select>

    <select id="getEmployeeById" resultType="Employee">
        select * from mybatis.employee where id = #{id};
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert into mybatis.employee(lastName, email, gender, departmentId, birth) VALUES (#{lastName},#{email},#{gender},#{departmentId},#{ birth});
    </insert>

    <update id="updateEmployee" parameterType="Employee">
        update mybatis.employee set lastName=#{lastName},email=#{email},gender=#{gender},departmentId=#{departmentId},birth=#{birth} where id = #{id};
    </update>

    <delete id="deleteEmployee" parameterType="int">
        delete from mybatis.employee where id = #{id};
    </delete>

</mapper>


